---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPosts from '../components/BlogPosts.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Explore these posts</h1>
    <BlogPosts posts={allPosts}/>
</BaseLayout>
