---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>This Is Egg Blog</h1>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> <!--  Hidrated Component -->

</BaseLayout>