---
const { pageTitle } = Astro.props
---
<div class="
  flex items-baseline ml-10 space-x-4
   [&>a]:px-3 [&>a]:py-2 [&>a]:rounded-md 
   [&>a]:text-sm [&>a]:font-medium
">
    <a class={
        `${pageTitle == "Home"? "text-gray-800" : "text-gray-400"}
        hover:text-gray-800`
    } href="/">
        Home
    </a>
    <a class={
        `${pageTitle == "About"? "text-gray-800" : "text-gray-400"}
        hover:text-gray-800`
    } href="/about">
        About
    </a>
    <a class={
        `${pageTitle == "Blog"? "text-gray-800" : "text-gray-400"} 
        hover:text-gray-800`
    } href="/blog">
        Blog
    </a>
    <a class={
        `${pageTitle == "Tags"? "text-gray-800" : "text-gray-400"} 
        hover:text-gray-800`
    } href="/tags">
        Tags
    </a>
</div>