---
import NavLink from "./NavLink.astro";
const { pageTitle } = Astro.props

const pages = [
    {
        name: "Home",
        url: "/"
    },
    {
        name: "About",
        url: "/about"
    },
    {
        name: "Blog",
        url: "/blog"
    },
    {
        name: "Tags",
        url: "/tags"
    }
]
---
<div class="
    flex items-baseline
    [&>a]:px-3 [&>a]:py-2 [&>a]:rounded-md 
    [&>a]:text-sm [&>a]:font-medium
">
    {
        pages.map(page => 
            <NavLink name={page.name} url={page.url} pageTitle={pageTitle}/>
        )
    }
</div>