---
const {pageTitle, name, url} = Astro.props
---

<a class={
  `${pageTitle == name? "text-blue-950 border-2" : "text-gray-700"}
  hover:text-gray-800 hover:bg-gray-200/25 hover:backdrop-blur-sm
  hover:duration-200
  `
} href={url}>
  {name}
</a>