---
const { platform, username } = Astro.props;
---
<a
    href={`https://www.${platform}.com/${username}`}
    class="
        text-white bg-[#4c1d95]
        decoration-transparent 
        px-[0.5rem] py-[1rem]"
>
    {platform}
</a>
